<%-include('partials/header')-%>

<div class="container jumbotron" style="background-color: white;">
    <h1>How to enter and delete items in todo app</h1>
    <p>1. Enter items in the text box which is represented by arrow and hit enter to save or just tap on plus button</p>
    <center><img src="images/insert.jpg" class="img-fluid" style="width: 70%;" alt="Responsive image"></center>
    <p>2. just hit the checkbox to delete items. it will automatically deleted</p>
    <center> <img src="images/delete.jpg" class="img-fluid" style="width: 70%;" alt="Responsive image"></center>
</div>
<%-include('partials/footer')-%>