<%-include('partials/header')-%>
<div class="container-fluid jumbtron">
    <h1>Message Sent  Successfully!</h1>
    <p>We have received your message. We will be contact you soon on your Email</p>
    <form action="/success/send" method="POST">
        <button type="submit"  class="btn btn-lg btn-primary myButton"> Back to Homepage</button>
    </form>
</div>
<%-include('partials/footer')-%>